<div id="slides" class="slides">

  <% for (var i = 0; i < slideOrder.length; i++) { %>
  <section id="slide-<%= i %>" class="slide">
    <%- include('./partials/slides/' + slideOrder[i] + '.html') %>
  </section>
  <% } %>

</div>
